<html>
<body>
<h1> <b>CIE LAB QUESTIONS</b></h1>
</body>
</html>

<html>
<body>
<h3>1. Write a python function geometric () that takes a list of integers as input and returns True if the integers
in the list form a geometric sequence. A sequence a0, a1, a2, a3, a4, . . . , an is a geometric sequence if
the ratios a1/a0, a2/a1, a3/a2, a4/a3, . . . , an/an-1 are all equal.<br/>
>>> geometric([2, 4, 8, 16, 32, 64, 128, 256])<br/>
True <br />
>>> geometric([2, 4, 6, 8]) <br />
False</h3>
</body>
</html>

In [1]:
def geometric(a):
  for i in range(len(a) - 2):
    if (a[i] * a[i + 2]) != (a[i + 1] ** 2):
      return False
  return True

print(geometric([2, 4, 8, 16, 32, 64, 128, 256]))
print(geometric([2, 4, 6, 8]))

True
False

<html>
<body>
<h3>2. Write a python program to create list1 and list2, be two lists of integers. We say that list1 is a sublist of
list2 if the elements in list1 appear in list2 in the same order as they appear in list1, but not necessarily
consecutively.<br/>
>>> sublist([15, 1, 100], [20, 15, 30, 50, 1, 100])<br/>
True <br />
>>> sublist([15, 50, 20], [20, 15, 30, 50, 1, 100]) <br />
False</h3>
</body>
</html>

In [2]:
def sublist(list1, list2):
  j = 0
  for i in range(len(list2)):
    if list1[j] == list2[i] :
      j += 1
  return True if j == len(list1) else False
  
print(sublist([15, 1, 100], [20, 15, 30, 50, 1, 100]))
print(sublist([15, 50, 20], [20, 15, 30, 50, 1, 100]))

True
False

<html>
<body>
<h3>3. Write a python program to demonstrate, a list rotation consists of taking the last element and moving it
to the front. For instance, if we rotate the list [1,2,3,4,5], we get [5,1,2,3,4]. If we rotate it again, we get
[4,5,1,2,3].Write a Python function rotatelist(ls,k) that takes a list ls and a positive integer k and returns
the list ls after k rotations. If k is not positive, your function should return ls unchanged. Note that your
function should not change ls itself, and should return the rotated list.Here are some examples to show
how your function should work.<br/>
>>> rotatelist([1,2,3,4,5],1) <br />#output is [5, 1, 2, 3, 4]<br/>
>>> rotatelist([1,2,3,4,5],3) <br />#output is [3, 4, 5, 1, 2]<br />
>>> rotatelist([1,2,3,4,5],12) <br />#output is [4, 5, 1, 2, 3]<br />
</h3>
</body>
</html>

In [3]:
def rotatelist(ls,k):
  if k <= 0 :
    return ls
  k %= len(ls)
  new_list = (ls[-k : ] + ls[ : -k])
  return new_list
  
print(rotatelist([1, 2, 3, 4, 5], 1))
print(rotatelist([1, 2, 3, 4, 5], 3))
print(rotatelist([1, 2, 3, 4, 5], 12))

[5, 1, 2, 3, 4]
[3, 4, 5, 1, 2]
[4, 5, 1, 2, 3]

<html>
<body>
<h3>4. Write a python function exclamation() that takes input as a string and returns it with this modification:
Every vowel is replaced by four consecutive copies of itself and an exclamation mark (!) is added at the
end.<br/>
>>> exclamation('argh') <br />
'aaaargh!'<br/>
>>> exclamation('hello')<br />
'heeeelloooo!'<br />
</h3>
</body>
</html>

In [4]:
def exclamation(string):
  for i in 'aeiouAEIOU':
      string = string.replace(i,i*4)
  return string + '!'

print(exclamation('argh'))
print(exclamation('hello'))

aaaargh!
heeeelloooo!

<html>
<body>
<h3>5. Write a python class to represent city which contains a list of places to see. Provide methods to create
the object with just the city name or with city name and places (stored as list) Provide methods to add a
place of visit, to remove place of visit, to display all places of visit.</h3>
</body>
</html>

In [6]:
class City:
  def __init__(self,name,places=[]):
    self.name,self.places = name,places
  def add(self,place):
    if place not in self.places:
      self.places.append(place)
  def remove(self,place):
    if place in self.places:
      self.places.remove(place)
  def display(self):
    print(', '.join(self.places))

blr = City('Bangalore')
blr.add('place-1')
blr.add('place-2')
blr.display()

goa = City('Goa',['place-3','place-4','place-5'])
goa.display()
goa.remove('place-4')
goa.display()

place-1, place-2
place-3, place-4, place-5
place-3, place-5

<html>
<body>
<h3>6. Given a list of tuples, extract all tuples having K digit elements.<br />
Input : test_list = [(54, 2), (34, 55), (222, 23), (12, 45), (78, )],&nbsp K = 2 <br />
Output : [(34, 55), (12, 45), (78,)]<br />
&nbsp<br/>
</h3>
</body>
</html>

In [7]:

test_list = [(54, 2), (34, 55), (222, 23), (12, 45), (78, )]
K = 2
res = [i for i in test_list if all(len(str(ele)) == K for ele in i)]
print(res)

[(34, 55), (12, 45), (78,)]

<html>
<body>
<h3>7. While working with Python data, we can have a problem in which we have data in form of nested and
non-nested form inside in a single tuple, and we wish to count the element frequency in them. This
kind of problem can come in domains such as web development and Data Science.<br />
Input : test_tuple = (5, (6, (7, 8, 6))) <br />
Output : {5: 1, 6: 2, 7: 1, 8: 1} <br />
Input : test_tuple = (5, 6, 7, 8) <br />
Output : {5: 1, 6: 1, 7: 1, 8: 1}
</h3>
</body>
</html>

In [9]:
def flatten(test_tuple):
  for tup in test_tuple:
    if isinstance(tup, tuple):
      yield from flatten(tup)
    else:
      yield tup

test_tuple = (5, (6, (7, 8, 6)))
res = {}

for ele in flatten(test_tuple):
  if ele in res:
    res[ele] += 1
  else:
    res[ele] = 1

print(res)

{5: 1, 6: 2, 7: 1, 8: 1}

<html>
<body>
<h3>8. Write a Python script to concatenate following dictionaries to create a new one. <br />
Sample Dictionary : dic1={1:10, 2:20} &nbsp dic2={3:30, 4:40} &nbsp dic3={5:50,6:60} <br />
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
</h3>
</body>
</html>

In [10]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50, 6:60}
dic = {}
dic.update(dic1)
dic.update(dic2)
dic.update(dic3)
print(dic)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}



---