<html>
<body>

<h2>Topic: Functions</h2>
<hr><hr>
<h3>USN: 1MS19CS063 </h3>
<h3>NAME: M Shashanka</h3>
<hr><hr>
</body>
</html>

<html>
<body>

<h1><b>Questions</b></h1>

<ol type="i">
  <li>Write a python function geometric() that takes a list
of integers as input and returns True if the integers
in the list form a geometric sequence. A sequence
a0, a1, a2, a3, a4, . . . , an is a geometric sequence
if the ratios a1/a0, a2/a1, a3/a2, a4/a3, . . . , an/an-1
are all equal.<br />
>>> geometric([2, 4, 8, 16, 32, 64, 128, 256]) <br />
True <br />
>>> geometric([2, 4, 6, 8]) <br />
False <br />
</li>
  <li>Write a python function names() that takes no input
and repeatedly asks the user to enter the first name
of a student in a class. When the user enters the
empty string, the function should print for every
name the number of students with that name.<br />
>>> names()<br />
Enter next name: Valerie <br />
Enter next name: Bob <br />
Enter next name: Valerie <br />
Enter next name: Amelia <br />
Enter next name: Bob <br />
Enter next name: <br />
There is 1 student named Amelia <br />
There are 2 students named Bob <br />
There are 2 students named Valerie <br />
</li>
  <li>Write a python function subsetSum() that takes as
input a list of positive numbers and a positive
number target. Your function should return True if
there are three numbers in the list that add up to
target. For example, if the input list is [5, 4, 10, 20,
15, 19] and target is 38, then True should be
returned since 4+15+19 = 38. However, if the input
list is the same but the target value is 10, then the
returned value should be False because 10 is not the
sum of any three numbers in the given list.
</li>
<li>
Write the function alternatingSum(L) that takes a
list of numbers and returns the alternating sum
(where the sign alternates from positive to negative
or vice versa). For example,
alternatingSum([5,3,8,4]) returns 6 (that is, 5-3+8-4). If the list is empty, return 0.
</li>
</ol>
<hr><hr>
</body>
</html>

## **Programs**

<html>
<body>
<h4> <b>Program (i)</b> </h4>
</body>
</html>

In [ ]:
def geometric(a):
  for i in range(len(a) - 2):
    if (a[i] * a[i + 2]) != (a[i + 1] ** 2):
      return False
  return True

print(geometric([2, 4, 8, 16, 32, 64, 128, 256]))
print(geometric([2, 4, 6, 8]))

True
False

<html>
<body>
<h4> <b>Program (ii)</b> </h4>
</body>
</html>

In [ ]:
def names():
  dict = {}
  while True:
    name = input('Enter next name : ')
    if name == '':
      break;
    if name in dict:
      dict[name] += 1
    else:
      dict[name] = 1
  for i in dict:
    if dict[i] > 1:
      print("There are", dict[i], "students named", i)
    else:
      print("There is", dict[i], "student named", i)
      
names()

Enter next name : Valerie
Enter next name : Bob
Enter next name : Valerie
Enter next name : Amelia
Enter next name : Bob
Enter next name :
There are 2 students named Valerie
There are 2 students named Bob
There is 1 student named Amelia

<html>
<body>
<h4> <b>Program (iii)</b> </h4>
</body>
</html>

In [ ]:

def subsetSum(a,target):
  if len(a) < 3:
    return False
  l = len(a);
  for i in range(0,l):
    for j in range(i+1,l):
      for k in range(j+1,l):
        if (a[i] + a[j] + a[k]) == target:
          return True
  return False

print(subsetSum([5, 4, 10, 20, 15, 19], 38))
print(subsetSum([5, 4, 10, 20, 15, 19], 10))

True
False

<html>
<body>
<h4> <b>Program (iv)</b> </h4>
</body>
</html>

In [ ]:
def alternatingSum(a):
  sum = 0
  for i in range(len(a)):
    sum += -a[i] if (i&1) else a[i]
  return sum
  
print(alternatingSum([5, 3, 8, 4]))

6