<html>
<body>

<h2>Topic: Tuples and Sets</h2>
<hr><hr>
<h3>USN: 1MS19CS063 </h3>
<h3>NAME: M Shashanka</h3>
<hr><hr>
</body>
</html>

<html>
<body>

<h1><b>Questions</b></h1>

<ol type="i">
  <li>Given a list of tuples, extract all tuples having K
digit elements. <br />
<b>Input :</b> test_list = [(54, 2), (34, 55), (222, 23), (12, 45), (78, )], K = 2 
<br/>
<b>Output :</b> [(34, 55), (12, 45), (78,)] <br />
<b>Explanation :</b> All tuples have numbers with 2 digits. <br />
<b>Input :</b> test_list = [(54, 2), (34, 55), (222, 23), (12, 45), (782, )], K = 3 <br />
<b>Output :</b> [(782,)] <br />
<b>Explanation :</b> All tuples have numbers with 3 digits.
</li>
  <li>While working with Python data, we can have a problem in which we have data in form of nested and non-nested form inside in a single tuple, and
we wish to count the element frequency in them. This kind of problem can come in domains such as web development and Data Science. <br />
<b>Input :</b> test_tuple = (5, (6, (7, 8, 6))) <br />
<b>Output :</b> {5: 1, 6: 2, 7: 1, 8: 1} <br />
<b>Input :</b> test_tuple = (5, 6, 7, 8) <br />
<b>Output :</b> {5: 1, 6: 1, 7: 1, 8: 1} <br />
</li>
  <li>Given a set, write a Python program to generate
all possible subset of size n of given set within a
list. <br />
<b>Examples: </b> <br />
<b>Input :</b> {1, 2, 3}, n = 2 <br />
<b>Output :</b> [{1, 2}, {1, 3}, {2, 3}] <br />
<b>Input :</b> {1, 2, 3, 4}, n = 3 <br />
<b>Output :</b> [{1, 2, 3}, {1, 2, 4}, {1, 3, 4}, {2, 3,
4}]
</li>
</ol>
<hr><hr>
</body>
</html>

## **Programs**

<html>
<body>
<h4> <b>Program (i)</b> </h4>
</body>
</html>

In [ ]:
test_list = [(54, 2), (34, 55), (222, 23), (12, 45), (78, )]
K = 2
res = [i for i in test_list if all(len(str(ele)) == K for ele in i)]
print(res)

[(34, 55), (12, 45), (78,)]

<html>
<body>
<h4> <b>Program (ii)</b> </h4>
</body>
</html>

In [ ]:
def flatten(test_tuple):
    for tup in test_tuple:
        if isinstance(tup, tuple):
            yield from flatten(tup)
        else:
            yield tup

test_tuple = (5, (6, (7, 8, 6)))
res = {}
for ele in flatten(test_tuple):
    if ele in res:
      res[ele] += 1
    else:
      res[ele] = 1
print(res)

{5: 1, 6: 2, 7: 1, 8: 1}

<html>
<body>
<h4> <b>Program (iii)</b> </h4>
</body>
</html>

In [ ]:
import itertools
s = {1, 2, 3}
n = 2
print(list(itertools.combinations(s,n)))

[(1, 2), (1, 3), (2, 3)]